
  	<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %><div class='body'>
      <div class='container'>

        <p id="notice"></p>


        <div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
    <table class='table'>
      <tr><%= attachment_image_tag @user, :profile_image, format: 'jpeg', class: " pull-left profile-img", fallback: "no_image.jpg",size:'100x100' %></tr>
      <tr>
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= @user.introduction %></th>
      </tr>
</table>

<div class='row'>
        <p><%= link_to "", edit_user_path(@user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
</div>

    <h2>New book</h2>
<%= form_for(@book) do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title, class:'col-xs-12' %>

  <h4>Opinion</h4>
  <%= f.text_area :body,class:'text col-xs-12' %>

  <%= f.submit 'Create Book', class:'btn btn-primary col-xs-12' %>

<% end %>

  </div>

  <div class='col-xs-9'>
    <h2>Books detail</h2>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><b>Title</b></th>
      <th><b>Opinion</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to(user_path(@user)) do %>
        <span><%= attachment_image_tag @user, :profile_image,  format: 'jpeg', class: " pull-left profile-img", fallback: "no_image.jpg",size:'30x30' %></span><br><%= @user.name %>
        <% end %>
        </td>
      <td><%= @book2.title %></td>
      <td><%= @book2.body %></td>
      <% if @user.id == current_user.id %>
      <td><%= link_to "Edit", edit_book_path(@book2), class: "btn btn-success" %></td>
      <td><%= link_to "Dstroy", book_path(@book2),method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
      <% end %>
    </tr>
  </tbody>
</table>
  </div>
</div>
      </div>
    </div>
